<p id="notice"><%= notice %></p>

<h1>Tour Keywords</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Keywords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_keywords.each do |tour_keyword| %>
      <tr>
        <td><%= tour_keyword.name %></td>
        <td><%= tour_keyword.keywords %></td>
        <td><%= link_to 'Show', tour_keyword %></td>
        <td><%= link_to 'Edit', edit_tour_keyword_path(tour_keyword) %></td>
        <td><%= link_to 'Destroy', tour_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour Keyword', new_tour_keyword_path %>
